<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>BROWSER</h1>
</body>
</html> -->
{% extends "flask_file_browser/base.html" %}

{% block content %}
<h1 style="font-size: 30px">{{app_name}}</h1>
{% if app_description %}
<p style="font-size: 20px">{{app_description}}</p>
{% endif %}
<div class="img-with-text">
    {% if app_logo %}
    <img src="{{ url_for('flask_file_browser.static', filename='flask_file_browser/images/cbi_logo.png') }}" alt="logo" />
    {% endif %}
    {% if app_motto %}
    <p style="font-size: 30px">{{app_motto}}</p>
    {% endif %}
</div>

{% endblock %}