{% extends "flask_file_browser/fl_browse_full_page.html" %}

{% block ffbcontent %}

{# This displays a link to the parent directory above table #}
<div class="container ps-0">
    {% if not current_path['parent_is_root'] %}

        <div id="parent-link" class="file-dir ps-5 parent-path">
            <a href="{{ current_path['parent_path'] }}">
                [Parent] {{  current_path['parent_folder_name'] }}
            </a>
        </div>
        {% else %}
        <div id="parent-link" class="file-dir ps-5 parent-path">
            <a href="{{ current_path['parent_path'] }}">
                [Top Level]
            </a>
        </div>

{% endif %}

{# This is to describe the current directory and stats in the table #}
<table id="myTable" class="mx-auto">
    <thead>
    <tr class="bg-light">
        <th class="w-50">Dir | File</th>
       
        <th>Updated</th>
        <th>Size</th>
    </tr>
    </thead>

    <tr class="">
        <td class="file-dir ps-5 dir-path">
            {% if not current_path['parent_is_root'] %}
            <a class="" href="{{ current_path['parent_path'] }}">
                {{ current_path['parent_folder_name'] }}
            </a>
            {% else %}
            <a class="" href="{{ current_path['parent_path'] }}">
            [top level]
            </a>
            {% endif %}
        </td>
        <td class="">
            {{ current_path['current_path_modtime'] }}
        </td>
        <td class="">
            D: {{ current_path['current_path_entries'][0] }} F: {{ current_path['current_path_entries'][1] }}
        </td>
    </tr>   

{# This is to describe all directories and stats in the current directory #}
{% for dir in current_path['dirs'] %}
    <tr class="file-row">
        <td class="file-dir ps-5 subdir-path"><span class="d-none sort-hack">0</span>
            <div class="folder-item" data-fdata='{{ dir | tojson }}'>
                <a class="ms-3 folder-link" href="{{ dir }}">{{ current_path['dirs_name'][loop.index0] }}</a>
            </div>
        </td>
        <td class="">
            {{ current_path['dirs_modtime'][loop.index0] }}
        </td>
        <td class="">
            D: {{ current_path['dirs_entries'][loop.index0][0] }} F: {{ current_path['dirs_entries'][loop.index0][1] }}
        </td>
    </tr>
        {% endfor %}
        
        {# This is to describe all files and stats in the current directory #}
        {% for file in current_path['files'] %}

    <tr class="file-row">
        <td class="file-dir ps-5 file-path" ><span class="d-none sort-hack">1</span>
            
            <div class="brain-file-btn"
                data-fdata='{{ current_path['files_json'][file] | tojson }}'
                data-filename="{{ current_path['files_name'][loop.index0] }}"
                data-fileslug="{{ current_path['files_dl'][loop.index0] }}"
    
                data-filesize="{{ current_path['files_size'][loop.index0] }}"
                data-updated="{{ current_path['files_modtime'][loop.index0] }}"
                data-bs-toggle="modal" data-bs-target="#brainModal">
                <span class="ms-4">{{ current_path['files_name'][loop.index0] }}</span>
            </div>
             
        </td>
        <td class="">
            {{ current_path['files_modtime'][loop.index0] }}
        </td>
        <td class=""><span class="d-none sort-hack">{{ current_path['files_size'][loop.index0][2] }}</span>
            S: {{ current_path['files_size'][loop.index0][0] }} {{ current_path['files_size'][loop.index0][1] }}
        </td>
    </tr>
{% endfor %}
</table>
</div>
<!-- Button trigger modal -->

  
  <!-- File Modal -->
  <div class="modal fade" id="brainModal" tabindex="-1" aria-labelledby="brainModalLabel" aria-hidden="true">
    <div class="modal-dialog w-75">
      <div class="modal-content">
        <div class="modal-header header">
          <h5 class="modal-title" id="brainModalLabel">File Options</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>File Size: <span id="brainModalFileSize"></span></p>
          <p>Last Updated: <span id="brainModalUpdated"></span></p>
        </div>
        <div class="modal-footer">
          <!-- <a href="#" type="button" id="brainModalNgSlug" class="btn btn-primary btn-sm" target="ngwindow">View on NG</a> -->
          <a href="#" type="button" id="brainModalFileSlug" class="btn btn-primary btn-sm" target="dlwindow">Download</a>
          <button  type="button" id="brainModalFilePath" class="btn btn-primary btn-sm" >Path Info</button>
<!--           <a href="#" type="button" id="brainModalFileInfo" class="btn btn-primary btn-sm" target="nginfowindow">NG Info</a>-->
          {% if buttons is defined and buttons %}
            {% for button in buttons %}
              {% include button %}
            {% endfor %}
          {% endif %}
          <button type="button" id="closeFileModalBtn" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Folder Modal -->
  <div class="modal fade" id="brainFolderModal" tabindex="-1" aria-labelledby="brainModalLabel" aria-hidden="true">
    <div class="modal-dialog w-75">
      <div class="modal-content">
        <div class="modal-header header">
          <h5 class="modal-title">Options</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Folder: <span id="brainFolderModalText"></span></p>

        </div>
        <div class="modal-footer">
          <!-- <a href="#" type="button" id="brainModalNgSlug" class="btn btn-primary btn-sm" target="ngwindow">View on NG</a> -->
          <button  type="button" id="brainModalFolderPath" class="btn btn-primary btn-sm" >Path Info</button>
          <!-- <a href="#" type="button" id="brainModalFileInfo" class="btn btn-primary btn-sm" target="nginfowindow">NG Info</a> -->
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    {% if modals is defined and modals %}
        {% for modal in modals %}
            {% include modal %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".folder-item").forEach(link => {
        link.addEventListener("click", function (event) {
            if (!event.target.closest("a")) {
                let modal = new bootstrap.Modal(document.getElementById("brainFolderModal"));
                let modalElement = document.getElementById("brainFolderModal");
                modalElement.dataset.fdata = this.getAttribute("data-fdata");
                // console.log("showing modal");
                modal.show();
            }
        });
    });
});

// Modal configuration for accessing file options

const dataTable = new simpleDatatables.DataTable(
    "#myTable", 
      {
         searchable: true,
         fixedHeight: true,
         columns: [
             // Sort the second column in ascending order
             { select: 0, sort: "asc" },
           ]
       }
);

// frows.addEventListener('click',barfalert,false);
function filePathPrompt(text) {
    // const textarea = document.createElement("textarea");
    // textarea.value = text;
    // document.body.appendChild(textarea);
    // textarea.select();
    // console.log("textareat value",textarea.value);
    // try {
        // document.execCommand("copy");
    prompt("Copy path below\n", text);
    // } catch (err) {
    //     alert("Failed to copy path.");
    // }
    // document.body.removeChild(textarea);
}
var brainModalEl = document.getElementById('brainModal');
var cppath = document.getElementById('brainModalFilePath');
cppath.addEventListener('click', function () {
    if (!cppath.dataset.dynamicLink) return;

    fetch(cppath.dataset.dynamicLink)
        .then(response => response.json())
        .then(data => {
            if (!data.file_path) throw new Error("File path missing");
            if (navigator.clipboard) {
                return navigator.clipboard.writeText(data.file_path)
                    .then(filePathPrompt(data.file_path));
            } else {
              filePathPrompt(data.file_path);
            }
        })
        .catch(error => {
            console.error("Failed:", error);
            alert("Failed to fetch the file path.");
        });
}); 

brainModalEl.addEventListener('show.bs.modal', function (event) {
  console.log('got modal, got dataset',event.relatedTarget.dataset);
  var bdata = event.relatedTarget.dataset;
  var fdata = JSON.parse(event.relatedTarget.dataset.fdata);
  console.log('got fdata?',fdata);

  event.target.querySelector('#brainModalLabel').innerHTML = fdata.files_name;
  event.target.querySelector('#brainModalUpdated').innerHTML = fdata.files_modtime;
  event.target.querySelector('#brainModalFileSize').innerHTML = fdata.files_size[0] + ' ' + fdata.files_size[1];

// Button Configuration for file options

// Neuroglancer Button and Info

//   var ng_btn = event.target.querySelector('#brainModalNgSlug')
//   var ng_info_btn = event.target.querySelector('#brainModalFileInfo')
//   if (fdata.files_ng_slug)
// {
  
//   ng_btn.setAttribute('href',fdata.files_ng_slug);
//   ng_btn.classList.remove('d-none');
  
//   ng_info_btn.setAttribute('href',fdata.files_ng_info);
//   ng_info_btn.classList.remove('d-none');
  
// }
// else{
//   ng_btn.setAttribute('href',fdata.files_ng_slug)
//   ng_btn.classList.add('d-none');
  
//   ng_info_btn.setAttribute('href',fdata.files_ng_info);
//   ng_info_btn.classList.add('d-none');
// }  

// Download Button

  var dl_btn = event.target.querySelector('#brainModalFileSlug') 

  if (fdata.files_dl)
  {
    dl_btn.setAttribute('href',fdata.files_dl);
    dl_btn.classList.remove('d-none');
  }
  else{
    dl_btn.setAttribute('href',fdata.files_dl);
    dl_btn.classList.add('d-none');
  }
  
  // var cppath = event.target.querySelector('#brainModalFilePath') 
  

  if (fdata.files)
  {
    // const dynamicLink = fdata.files.
    // const dynamicLink = fdata.files.replace("/{{ current_path['html_path_split'][0] }}", "/get_file_path"); // Replace with your dynamic URL logic
    const parts = fdata.files.split('/').slice(3);  // Split and remove first 2 elements
    console.log('what is parts',parts);
    const dynamicLink = "/{{ current_path['html_path_split'][0] }}/get_file_path/" + parts.join('/');

    console.log('what is newPath',dynamicLink);
    // cppath.addEventListener('click', function () {
    // // Fetch the response from the dynamic link
    // fetch(dynamicLink)
    //   .then(response => response.json()) 
    //   .then(data => {
    //       if (!data.file_path) throw new Error("File path missing");
    //       if (navigator.clipboard) {
    //           return navigator.clipboard.writeText(data.file_path)
    //               .then(() => prompt("Path info received, copy below \n" , data.file_path));
    //       } else {
    //           copyToClipboardFallback(data.file_path);
    //       }
    //   })
    //   .catch(error => {
    //       console.error("Failed:", error);
    //       alert("Failed to fetch the file path.");
    //   });
    // });
    cppath.dataset.dynamicLink = dynamicLink;
    cppath.classList.remove('d-none');
  }
  else{
    alert("No path available to copy.");
    cppath.classList.add('d-none');
  }


  // event.target.querySelector('#')
  console.log('what is event.target',event.target.querySelector('#brainModalLabel'));
})

var brainFolderModalEl = document.getElementById('brainFolderModal');
var foldercppath = document.getElementById('brainModalFolderPath');

brainFolderModalEl.addEventListener('show.bs.modal', function (event) {
  // console.log('got folder modal');
  var fdata = JSON.parse(event.target.dataset.fdata);
  const parts = fdata.split('/').slice(3);
  // console.log('parts', parts);
  event.target.querySelector('#brainFolderModalText').innerHTML = parts[parts.length - 1];
  const dynamicLink = "/{{ current_path['html_path_split'][0] }}/get_file_path/" + parts.join('/');
  // console.log('dynamicLink', dynamicLink);
  foldercppath.dataset.dynamicLink = dynamicLink;
  foldercppath.classList.remove('d-none');
});

foldercppath.addEventListener('click', function () {
    // console.log(foldercppath.dataset.dynamicLink);
    if (!foldercppath.dataset.dynamicLink) return;

    fetch(foldercppath.dataset.dynamicLink)
        .then(response => response.json())
        .then(data => {
            if (!data.file_path) throw new Error("File path missing");
            if (navigator.clipboard) {
                return navigator.clipboard.writeText(data.file_path)
                    .then(filePathPrompt(data.file_path));
            } else {
              filePathPrompt(data.file_path);
            }
        })
        .catch(error => {
            console.error("Failed:", error);
            alert("Failed to fetch the file path.");
        });
});
  </script>
{% endblock %}
